<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>RailsWink</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
  <%= stylesheet_link_tag    "rails_wink/application", :media => "all" %>
  <%= javascript_include_tag "rails_wink/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>Report A Bug</h1>
    </div>
    <div>
<%= yield %>
    </div>
  </div>
</body>
</html>
